---
import Nav from "../components/Nav";
import Layout from "../layouts/Layout.astro";
import client, { getAllPages, getPage } from "../util/client";

const data = await getPage(1);
const { title, description, render } = data;

const allPages = (await getAllPages()).map((page) => page.path);
---

<Layout title="Welcome to Astro">
    <main>
        <h1>{title}</h1>
        <p>{description}</p>
        <hr />
        <Fragment set:html={render} />
    </main>
</Layout>
